<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <a href="/auth/signup">sign up</a>
    <a href="/tweet/create-tweet">Create Tweet</a>
    <a href="/tweet/all-tweets">See twitter feed</a>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>